/* fonts */

@import url('https://fonts.googleapis.com/css?family=Anton|Permanent+Marker|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

/* global */

body {
    font-family: Ubuntu;
    color: #CFDBD5;
    background-color: #000000;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
}
/* typography */

h1,
h2 {
    color: #EBFF0090;
}

p {
    color: #FFFFFF70;
}

/** CLASS **/

/* navigation */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

nav li {
    margin: .25em 0;
}

nav a {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: #CFDBD550;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #FFFFFF;
}

/* hero */

.hero-features {
    text-align: center;
    position: relative;
    top: 40%;
 }
 
 .hero-title {
     margin: 0;
}

/* containers */

.header-container {
    /*position: fixed;*/
    background: #000000;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hero-container {
    height: 100vh;
    background-color: #00000090;
    background-image: url("images/hero.jpg");
    background-blend-mode: multiply;
    background-size: cover;
}

.article-container {
    max-width: 1200px;
    margin: 0 auto;
}

.baner1-p-container,
.baner2-p-container,
.baner2-p2-container {
   margin: 2em;
   text-align: justify;
}

.baner2-p-container {
    margin-top: 5em;
}

/* footer */

.icon-mobile {
    margin: 1em;
}

/** MEDIA **/

@media (min-width: 700px) {

    .container-flex {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .footer-container {
        flex-direction: row;
        justify-content: center;
    }

    .baner1-container {
        display: flex;
    }

    .baner1-p-container {
        width: 50%;
    }

    .baner1-image {
        max-width: 50%;
        min-width: 50%;
        max-height: 400px;
    }

    .replace /* img/h2+p change places in baner1b */ {
        order: -1;
    }

    .hero-title {
        font-size: 3.5em;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        margin: 0 2em;
    }

    .baner1-p-container {
        background-color: #FFFFFF10;
    }
}



